<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
</head>
<body>
    <h1>Registration Successful</h1>
    <p>Your account has been created successfully.</p>
    <a href="/login">Click here to login</a>
</body>
</html>
